<mat-toolbar color="primary">
    
    <a 
    [routerLink] = "''"
    mat-button class="example-icon favorite-icon row bolded" 
    style="margin-left: 300px; color:rgb(255, 255, 255);"
    >Exam Portal
    </a>
   
    <a 
    *ngIf="!login.isLoggedIn()"
    [routerLink] = "'/login'"
    mat-button class="example-icon favorite-icon row"
    style="margin-left: 1100px; color:rgb(255, 255, 255);">Login</a>
    
    

    <a 
    *ngIf="!login.isLoggedIn()"
    [routerLink] = "'/signup'"
    mat-button class="example-icon favorite-icon mr20 ml20 row"
    style="margin-left: 900px; color:rgb(255, 255, 255);">Register</a>
  


    <a 
    (click) = "logout()"
    *ngIf="login.isLoggedIn()"
    
    mat-button class="example-icon favorite-icon row"
    style="margin-left: 1100px; color:rgb(255, 255, 255);">
        
        Logout
      
      </a>
    


    <a 
    *ngIf="login.isLoggedIn()"
    mat-button class="example-icon favorite-icon mr20 ml20 row"
     style="margin-left: 900px; color:rgb(255, 255, 255);">
        
        {{login.getUser().full_name}}
      
      </a>
    

    
  
  </mat-toolbar>
  