<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class="row" style="margin-top: 100px;">
            <div class="col-md-6 offset-md-3 container text-center">

              <mat-card>
                
                <p class = "text-center bolded" style="margin-top: 50px; margin-bottom: 20px;">Sign up in seconds</p>

                <a class = "text-center" style = "margin-bottom: 20px;">Use your email or other service to continue working with Exam Portal</a>

                <mat-card-content>
                    <form (ngSubmit) = "formSubmit()">
                        <!--FullName field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Full Name</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.full_name"
                            name = "full_name"
                            matInput placeholder="Enter">
                            
                          </mat-form-field>

                        <!--Email field-->
                          <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input
                            required
                            [(ngModel)] = "user.email"
                            name = "email" 
                            matInput placeholder="Enter">
                          </mat-form-field>

                           <!--Phone field-->
                           <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.phone"
                            name = "phone"
                             matInput placeholder="Enter">
                          </mat-form-field>

                          <!--Password field-->
                          <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.password"
                            name = "password"
                            type="password" matInput placeholder="Enter">
                          </mat-form-field>

                          <div class="container text-center">
                            <button mat-raised-button color="primary" class="my-class"
                            >Sign up</button>
                            
                          </div>
                          
                    </form>
                  </mat-card-content>
                  </mat-card>
                
            </div>
        </div>
    </div>
</div>