<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class="row" style="margin-top: 150px;">
            <div class="col-md-6 offset-md-3">

              <mat-card>
                <div class="container text-center"><img src="../../../assets/logo.png"></div>
                <h1 class = "text-center"><p class="p1">Sign Up</p></h1>

                <mat-card-content>
                    <form (ngSubmit) = "formSubmit()">
                        <!--FullName field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Full Name</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.full_name"
                            name = "full_name"
                            matInput placeholder="Enter">
                            
                          </mat-form-field>

                        <!--Email field-->
                          <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input
                            required
                            [(ngModel)] = "user.email"
                            name = "email" 
                            matInput placeholder="Enter">
                            <mat-hint>Email must be unique!</mat-hint>
                          </mat-form-field>

                           <!--Phone field-->
                           <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.phone"
                            name = "phone"
                             matInput placeholder="Enter">
                          </mat-form-field>

                          <!--Password field-->
                          <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input 
                            required
                            [(ngModel)] = "user.password"
                            name = "password"
                            type="password" matInput placeholder="Enter">
                          </mat-form-field>

                          <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Sign Up</button>
                            <button style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                          </div>
                          
                    </form>
                  </mat-card-content>
                  </mat-card>
                
            </div>
        </div>
    </div>
</div>